# Scopes: https://apps.usos.uj.edu.pl/developers/api/authorization/#scopes

# ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= =======
# Request OAuth Token via "https://apps.usos.uj.edu.pl/services/oauth/request_token"
# Get it verified via "https://apps.usos.uj.edu.pl/services/oauth/authorize" and extract "oauth_verifier" from response
# Exchange verified Request OAuth Token for Access Token via "https://apps.usos.uj.edu.pl/services/oauth/access_token"
# ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= =======

CONSUMER_KEY=
CONSUMER_SECRET=
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=
